@mixin icon($image, $color) {
  background-color: white;
  background-image: url($image);
  background-position: center;
  background-repeat: no-repeat;
  border-color: $color;
  box-shadow: inset 0px 6px 1px #ccc, 0px 8px darken($color, 15%);
}
